
h2{
    color: rgb(233, 238, 243);
}
.slider{
    width:100%;
    height:450px;
    background-color:rgb(240, 65, 65);
}

td, th{
    /* border: 1px solid; */
    text-align: center;
}

#logo{
    font-family: 'Madimi One', sans-serif !important;
}